body {
  background-color: #eacc53;
  
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.accordion__list {
  cursor: pointer;
}

.accordion__item {
  cursor: pointer;
  padding: 1em 0;
}

.accordion__title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion__img {
  display: block;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  transition: height 1s ease-out;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../assets/Plus_icon-icons.com_71848.svg') no-repeat;
  cursor: pointer;
  visibility: hidden;
}

.accordion__item input[type="radio"] {
  display: none;
}

.accordion__list:hover {
  color: #e91a1a;
}

.accordion__list:hover .icon {
  visibility: visible;
}

.accordion__item:hover .accordion__img {
  height: 300px;
}

label input[type="radio"]:checked +.accordion__title + .accordion__img {
  height: 300px;
}

.accordion__item input[type="radio"]:checked + .accordion__title .icon {
  background: url('../assets/4115230-cancel-close-cross-delete_114048.svg') no-repeat;
}

.accordion__item input[type="radio"]:checked + .accordion__title {
  color: #e91a1a;
}